/* Mapa */ 
$colores:(
    negro: black,
    azul:#2980B9,
    blanco:#fff,
    celeste:#bdedff,
);
/* Footer */
footer{
    background:map-get($map: $colores, $key: celeste);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    .content-foo{
        text-align: center;
        h4{
            color:map-get($map: $colores, $key:negro);
            border-bottom: 3px solid cornflowerblue;
            padding-bottom: 5px;
            margin-bottom: 10px;

        }
    }

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color:map-get($map: $colores, $key:negro);
}